#aboutPage {
    background-color: #cee4e4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #131200;
    margin-top: 0;
    margin-bottom: 0;
}

#fadeIn {
    opacity: 0;
    /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
}

#fadeIn.is-visible {
    opacity: 1;
}

#aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

#imageContainer {
    display: flex;
    align-items: center;
    width: 30%;
    height: auto;
}

@media (max-width: 600px) {
    #aboutPage {
        flex-direction: column;
    }

    #aboutMe {
        flex-direction: column;
        align-items: center;
    }

    #imageContainer {
        width: 70%;
        height: auto;
    }
}