#appHeader {
    background-color: #cee4e4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(15px + 2vmin);
    color: #131200;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

#projectDescription {
    width: 80%;
    display: flex;
    flex-direction: row;
}

#fadeIn.is-visible {
    opacity: 1;
}

@media (max-width: 600px) {
    #projectDescription {
        flex-direction: column;
    }
}