#appHeader {
    background-color: #cee4e4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #131200;
    margin-top: 0;
    margin-bottom: 0;
}

#projectDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}

#projectImage {
    display: flex;
    align-items: center;
    width: 30%;
    height: auto;
}

#fadeIn.is-visible {
    opacity: 1;
}

@media (max-width: 600px) {
    #projectDescription {
        flex-direction: column;
        align-items: center;
    }

    #projectImage {
        width: 70%;
        height: auto;
    }
}